@import 'variables';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  background-color: $primary-background-color;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: $border-radius-navbar $border-radius-navbar 0 0;
}

.footer-content {
  p {
    margin: 0;
    display: inline-block;
  }
  line-height: 30px;
  height: $footer-height;
  color: $primary-foreground-color;
}