$primary-background-color: #087135;
$primary-foreground-color: #FFFFFF;

.navbar-default {
  background-color: $primary-background-color;
  background-image: none;
}

.navbar-default .logo {
  img {
    float: left;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    width: auto;
    margin-right: 10px;
    margin-top: -25px;
    border-radius: 50%;
  }
  color: $primary-foreground-color;
  &:hover {
    color: $primary-foreground-color;
  }
}

.navbar-default > div {
  background-color: $primary-background-color;
}

.navbar-default .nav > li > a {
  color: $primary-foreground-color;
  &:hover {
    color: $primary-foreground-color;
    background-color: lighten($primary-background-color, 7%);
  }
  &:active {
    color: $primary-foreground-color;
    background-color: lighten($primary-background-color, 7%);
  }
}