@media (max-width: 767px) {
  .navbar {
    border-radius: 0 0 0 0;
  }
  .footer {
    border-radius: 0 0 0 0;
  }
  .contact-details {
    p {
      font-size: 12px;
    }
  }
}

@media (min-width: 768px) {
  .content {
    max-width: calc(100% - 2 * 50px);
    .image-list {
      a > div {
        height: 281px;
      }
    }
  }
}

@media (min-width: 992px) {
  .content {
    .image-list {
      a > div {
        height: 181px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .content {
    .image-list {
      a > div {
        height: 219px;
      }
    }
  }
}
